.flexed {
    display: flex;
}

.flexed-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.vertical-middle {
    vertical-align: middle;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;  
}

.mt-50 {
    margin-top: 50px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20{
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}


.mb-50 {
    margin-bottom: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.ml-20{
    margin-left: 20px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 5px;
}

.pt-15 {
    padding-top: 5px;
}

.pt-20 {
    padding-top: 5px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.pt-50 {
    padding-top: 50px;
}

.pt-40 {
    padding-top: 40px;
}

.form-data {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    align-content: center;
    gap: 10px 40px;
}

.one-column-list {
    margin-top: 10px;
  
    .item {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      box-shadow: 0 5px 10px #f1f1f1;
      padding-left: 10px;
      padding-right: 10px ;
  
  
      .info {
        display: flex;
        align-items: flex-start;
        padding: 13px;
        flex-direction: column;
  
        .info-name {
          padding-bottom: 10px;
          font-size: 14px;
        }
  
        .info-item {
          font-size: 80%;
         
        }
      }
    }
}
  
    .form-max-width{
        max-width: 1300px;
        margin: 30px 30px 30px 30px;
        .el-button{
            align-self: center;
        }
    }

.pointer{
    cursor: pointer;
}