.flexed {
    display: flex;
}

.flexed-column {
    display: flex;
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.vertical-middle {
    vertical-align: middle;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;  
}

.mt-50 {
    margin-top: 50px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-20{
    margin-top: 20px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-5 {
    margin-top: 5px;
}


.mb-50 {
    margin-bottom: 50px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-20{
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-5 {
    margin-bottom: 5px;
}

.pt-5 {
    padding-top: 5px;
}

.pt-10 {
    padding-top: 5px;
}

.pt-15 {
    padding-top: 5px;
}

.pt-20 {
    padding-top: 5px;
}
